.nav{
  display: flex;
  justify-content: space-around;
  background: grey;
}
*{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}
.logo{
  padding-top: 15px;
  font-size: 20px;
  font-weight: 900;
  color: white;
}
ul{
  display: flex;
}
ul li{
  margin-left: 10px;
}
Link{
  color: white;
}
.a{
  color: yellow;
}